// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$primary: #272727;
$primary-light: #4f4f4f;
$primary-dark: #000000;

$secondary: #c3c9e9;
$secondary-light: #f6fcff;
$secondary-dark: #9298b7;

$text-primary-color: #000000;
$text-secondary-color: #ffffff;


$base-bg-color: #ffffff;
$brand-primary-color: $secondary-dark;
$brand-secondary-color: $secondary;
$brand-dark-color: $primary;

$font-family-primary: 'Oxygen', sans-serif;
$font-family-secondary: 'Aldrich', sans-serif;

// Color Samples
$sample1: #8C5383;
$sample2: #92374D;
$sample3: #4A5899;
$sample4: #559CAD;
$sample5: #2D82B7;
$sample6: #07004D;
$sample7: #D8D2E1;
$sample8: #C3C9E9;


$green: #AFD5AA;
$red: #92374D;
$yellow: #FFD275;
